/*
    Force the body to take up the entire space, needed to extend the box around the poem div
    to the bottom of the page.
    Note: unsure what exactly this does.
    Source: https://stackoverflow.com/questions/147528/how-do-i-force-a-div-block-to-extend-to-the-bottom-of-a-page-even-if-it-has-no-c
*/
html,body {
    display: flex;
    flex-direction: column;
    height:100%;
}

.poem_header{
    margin-bottom: 2.65em;
}

.poem_title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 2.35em;
    margin-right: 2.35em;
    margin-top: 0.65em;
    margin-bottom: 0em;
}

.poem_chapter_title{
    /*
        Sensible value is same as margin of a poem line
        Yet for some reason it is aligned a little too far to the right with the same value,
        so I changed it manually to +- fit
        (this can surely be done cleaner)
    */
    margin-left: 3.45em;
}

.flourish{
  font-size: 1.35em;
  font-weight: bold;
  margin-bottom: 0.65em;
  margin-top: 1em;
  text-align: center;
}

/* This centers the div (with margin drawn around it) in the page*/
.center{
    text-align: center;
    flex: 1 0 auto;
}

.poem {
     display: inline-block; /*Makes div scale with content*/
     max-width: 79%;
     min-height: 80%; /*To force the border to extend closer to bottom of page, even for small poems (a more elegant solution surely exists)*/
     margin: auto;
     margin-top: 2em;
     margin-bottom: 2em; /*if set to 0 the bottom border does not show for poems which require scrolling */
     border: 1px solid gray;
     font-size: 1.5em;
     padding-bottom: 2.65em;
     text-align: left;
}

/* Note: code duplicated in indented_poem_line (keep consistent!) */
.poem_line {
  display: inline-block;
  text-align: left;
  text-align-last: right; /* This ensures that if a line is too long to fit on a single line, the overflowing part is
    right-alined, to indicate it belongs to the previous line, as is common with poems*/
  margin-left: 4em;
  margin-right: 2.6em;
}

/* Note: duplicate code from poem_line (keep consistent!) */
.indented_poem_line {
  display: inline-block;
  text-align: left;
  text-align-last: right; /* This ensures that if a line is too long to fit on a single line, the overflowing part is
    right-alined, to indicate it belongs to the previous line, as is common with poems*/
  margin-left: 6em;
  margin-right: 2.6em;
}

.quote_env{
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    font-style: italic;
}

.quote{
    display: inline-block;
    text-align: left;
}